body{
  background-image: linear-gradient(to bottom, aqua, rgb(244, 193, 96), rgb(214, 122, 122));
  height: 100vh;
}

.heading{
  text-align: center;
  /* color: blue; */
  font-size: 40px;
  margin-bottom: 50px;
  text-shadow: 2px 4px 4px blue;
}

.h2{
  margin: auto;
  width: 610px;
}

.btn1{
  width: 250px;
  height: 60px;
  font-size: 16px;
  background-color: aqua;
  border-radius: 30px;
  margin-right: 100px;
}

.btn1:hover{
  background-color: rgb(239, 168, 142);
}

.btn2{
  width: 250px;
  height: 60px;
  font-size: 16px;
  background-color: aqua;
  border-radius: 30px;
}

.btn2:hover{
  background-color: rgb(239, 168, 142);
}

.box1{
  margin-top: 100px;
  margin-left: 100px;
  width: 500px;
  height: 250px;
  text-align: center;
  background-color: aquamarine;
  border-radius: 30px;
  padding: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  display: inline-block;
  
}

.box2{
  margin-top: 100px;
  margin-left: 100px;
  width: 500px;
  height: 250px;
  text-align: center;
  background-color: rgb(229, 83, 229);
  border-radius: 30px;
  padding: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  display: inline-block;
  
}